@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('media_queries.css');

:root {
    --profile-border: #6d6d6d;
    --transparent-field: rgba(20, 20, 20, 0.6);
    --spotify-highlight-color: #1DB954;
    --discord-highlight-color: #5865F2;
    --steam-highlight-color: #1b2838;
    --gmail-highlight-color: #EA4335;
    --github-highlight-color: #14232c;
    --xbox-highlight-color: #107C10;
    --highlight-color: #C14BFB;
    --scroll-wheel: #fff;
    --progress-bar-bg: rgba(102, 102, 102, 0.672);
    --background-color: rgb(20, 20, 20);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}

html {
    scrollbar-color: var(--scroll-wheel) black;
}

body {
    background-color: var(--background-color);
    font-family: 'Urbanist', sans-serif;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.background {
    background-image: url(../../priv/static/images/background.jpg);
    width: 100%;
    height: 30vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
}

.navbar-holder {
    top: 0px;
    /* top: -80px; */
    position: fixed;
    width: 100%;
    padding: 20px 0 20px 0;
    transition: 0.5s;
    z-index: 1000;
}

.navbar-holder:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-holder-dark {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.navigation {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-transform: uppercase;
    font-size: 2rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.nav-element {
    position: relative;
}

.nav-element::after {
    content: "";
    background-color: white;
    width: 0px;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: .3s;
}

.nav-element:hover::after {
    width: 100%;
}

.main-user-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

.main-user-banner {
    position: relative;
    display: flex;
    margin-top: calc(30vh - 150px);
    gap: 10px;
    background-color: var(--background-color);
    z-index: 1;
    width: 100%;
    align-self: center;
}

.profile {
    width: 300px;
    display: block;
}

.hero {
    color: white;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px 60px 20px 60px;
}

.hero>h1 {
    margin-top: 15px;
    font-size: 5em;
    /* background-color: red; */
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: 300;
}

.hero>p {
    /* background-color: green; */
    font-size: 3em;
    flex-grow: 1;
    /* margin-right: 60px;
    margin-left: 60px; */
    align-self: center;
    line-height: 1.4em;
    font-weight: 100;
}

.section-header {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0 10px 0;
    text-transform: capitalize;
}

.section-header>* {
    font-weight: 100;
}

.connections {
    margin-top: 20px;
    /* height: 75px; */
    /* width: 100%; */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.connections>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.connections>ul>li {
    height: 50px;
    flex-grow: 1;
}

.connection-button {
    min-width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    position: relative;
}

.connection-logo {
    position: absolute;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(329deg) brightness(102%) contrast(104%);
    width: 25px;
    height: 25px;
    transition: 0.2s;
}

.connection-button:hover > .connection-logo {
    width: 35px;
    height: 35px;
}

.discord-button {
    background-color: var(--discord-highlight-color);
}

.spotify-button {
    background-color: var(--spotify-highlight-color);
}

.xbox-button {
    background-color: var(--xbox-highlight-color);
}

.steam-button {
    background-color: var(--steam-highlight-color);
}

.github-button {
    background-color: var(--github-highlight-color);
}

.gmail-button {
    background-color: var(--gmail-highlight-color);
}

.discord-connection-button:hover {
    background-color: rgba(88, 101, 242, 0.6);
}

.spotify-connection-button:hover {
    background-color: rgba(30, 215, 96, 0.6);
}

.steam-connection-button:hover {
    background-color: rgba(68, 96, 130, 0.6);
}

.github-connection-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.email-connection-button:hover {
    background-color: rgba(212, 70, 56, 0.6);
}

.separator {
    min-height: 50px;
}


/* Meet me section */

.meet-me>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-left: 1.2em;
    margin-left: 0px;
    list-style: none;
    position: relative;
    font-size: 1.4em;
    font-weight: 100;
}

.meet-me>ul>li::before {
    font-family: 'Karla', sans-serif;
    content: '|>';
    position: absolute;
    left: 0;
    font-size: 1em;
    font-weight: 400;
}


/* EVERYTHING THAT HAS TO DO WITH SPOTIFY */

/* .spotify-information { */
/* width: 100%; */
/* display: flex; */
/* flex: 4 1 auto; */
/* flex-direction: row; */
/* justify-content: flex-start; */
/* gap: 10px; */
/* flex-wrap: wrap; */
/* } */

.song-thumbnail {
    width: 400px;
    height: 400px;
}

#spotify-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.spotify-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}


.song-text-block {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2em;
    width: 100%;
}

#song-title {
    font-weight: 300;
    margin-bottom: 5px;
}

.song-description {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.song-description>p {
    font-weight: 100;
    color: rgb(170, 170, 170);
}

#song-album {
    margin-bottom: 20px;
}

.song-progress {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.song-progress>span {
    color: lightgray;
    font-size: 0.5em;
    max-width: 2em;
    min-width: 2em;
    font-size: 1.2em;
}

.current-progress {
    text-align: left;
}

.song-length {
    text-align: right;
}

#song-progress-bar {
    width: 100%;
    background: linear-gradient(90deg, var(--spotify-highlight-color) 0%, var(--spotify-highlight-color) 0%, var(--progress-bar-bg) 0%);
    height: 5px;
}

/* DOES NOT HAVE WITH SPOTIFY */

.verical-flex {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    flex-direction: column;
}

.section-divider-horizontal {
    width: 100%;
    height: 5px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--transparent-field);
    display: block;
}