/* Thanks to @robertpeteuil at: https://gist.github.com/robertpeteuil/bb2dc86f3b3e25d203664d61410bfa30#file-github-lang-colors-css */

.ABAP-constant { background-color: #E8274B; }
.ActionScript-constant { background-color: #882B0F; }
.Ada-constant { background-color: #02f88c; }
.Agda-constant { background-color: #315665; }
.AGS-Script-constant { background-color: #B9D9FF; }
.Alloy-constant { background-color: #64C800; }
.AMPL-constant { background-color: #E6EFBB; }
.ANTLR-constant { background-color: #9DC3FF; }
.API-Blueprint-constant { background-color: #2ACCA8; }
.APL-constant { background-color: #5A8164; }
.Arc-constant { background-color: #aa2afe; }
.Arduino-constant { background-color: #bd79d1; }
.ASP-constant { background-color: #6a40fd; }
.AspectJ-constant { background-color: #a957b0; }
.Assembly-constant { background-color: #6E4C13; }
.ATS-constant { background-color: #1ac620; }
.AutoHotkey-constant { background-color: #6594b9; }
.AutoIt-constant { background-color: #1C3552; }
.BlitzMax-constant { background-color: #cd6400; }
.Boo-constant { background-color: #d4bec1; }
.Brainfuck-constant { background-color: #2F2530; }
.C-Sharp-constant { background-color: #178600; }
.C-constant { background-color: #555555; }
.Chapel-constant { background-color: #8dc63f; }
.Cirru-constant { background-color: #ccccff; }
.Clarion-constant { background-color: #db901e; }
.Clean-constant { background-color: #3F85AF; }
.Click-constant { background-color: #E4E6F3; }
.Clojure-constant { background-color: #db5855; }
.CoffeeScript-constant { background-color: #244776; }
.ColdFusion-CFC-constant { background-color: #ed2cd6; }
.ColdFusion-constant { background-color: #ed2cd6; }
.Common-Lisp-constant { background-color: #3fb68b; }
.Component-Pascal-constant { background-color: #b0ce4e; }
.Cpp-constant { background-color: #f34b7d; }
.Crystal-constant { background-color: #776791; }
.CSS-constant { background-color: #563d7c; }
.D-constant { background-color: #ba595e; }
.Dart-constant { background-color: #00B4AB; }
.Diff-constant { background-color: #88dddd; }
.DM-constant { background-color: #447265; }
.Dogescript-constant { background-color: #cca760; }
.Dylan-constant { background-color: #6c616e; }
.E-constant { background-color: #ccce35; }
.Eagle-constant { background-color: #814C05; }
.EC-constant { background-color: #913960; }
.ECL-constant { background-color: #8a1267; }
.Edn-constant { background-color: #db5855; }
.Eiffel-constant { background-color: #946d57; }
.Elixir-constant { background-color: #6e4a7e; }
.Elm-constant { background-color: #60B5CC; }
.Emacs-Lisp-constant { background-color: #c065db; }
.EmberScript-constant { background-color: #FFF4F3; }
.Erlang-constant { background-color: #B83998; }
.F-Sharp-constant { background-color: #b845fc; }
.Factor-constant { background-color: #636746; }
.Fancy-constant { background-color: #7b9db4; }
.Fantom-constant { background-color: #dbded5; }
.FLUX-constant { background-color: #88ccff; }
.Forth-constant { background-color: #341708; }
.FORTRAN-constant { background-color: #4d41b1; }
.FreeMarker-constant { background-color: #0050b2; }
.Frege-constant { background-color: #00cafe; }
.Game-Maker-Language-constant { background-color: #8fb200; }
.Glyph-constant { background-color: #e4cc98; }
.Gnuplot-constant { background-color: #f0a9f0; }
.Go-constant { background-color: #375eab; }
.Golo-constant { background-color: #88562A; }
.Gosu-constant { background-color: #82937f; }
.Grammatical-Framework-constant { background-color: #79aa7a; }
.Groovy-constant { background-color: #e69f56; }
.Handlebars-constant { background-color: #01a9d6; }
.Harbour-constant { background-color: #0e60e3; }
.Haskell-constant { background-color: #29b544; }
.Haxe-constant { background-color: #df7900; }
.HTML-constant { background-color: #e44b23; }
.Hy-constant { background-color: #7790B2; }
.IDL-constant { background-color: #a3522f; }
.Io-constant { background-color: #a9188d; }
.Ioke-constant { background-color: #078193; }
.Isabelle-constant { background-color: #FEFE00; }
.J-constant { background-color: #9EEDFF; }
.Java-constant { background-color: #b07219; }
.JavaScript-constant { background-color: #f1e05a; }
.JFlex-constant { background-color: #DBCA00; }
.JSONiq-constant { background-color: #40d47e; }
.Julia-constant { background-color: #a270ba; }
.Jupyter-Notebook-constant { background-color: #DA5B0B; }
.Kotlin-constant { background-color: #F18E33; }
.KRL-constant { background-color: #28431f; }
.Lasso-constant { background-color: #999999; }
.Latte-constant { background-color: #A8FF97; }
.Lex-constant { background-color: #DBCA00; }
.LFE-constant { background-color: #004200; }
.LiveScript-constant { background-color: #499886; }
.LOLCODE-constant { background-color: #cc9900; }
.LookML-constant { background-color: #652B81; }
.LSL-constant { background-color: #3d9970; }
.Lua-constant { background-color: #000080; }
.Makefile-constant { background-color: #427819; }
.Mask-constant { background-color: #f97732; }
.Matlab-constant { background-color: #bb92ac; }
.Max-constant { background-color: #c4a79c; }
.MAXScript-constant { background-color: #00a6a6; }
.Mercury-constant { background-color: #ff2b2b; }
.Metal-constant { background-color: #8f14e9; }
.Mirah-constant { background-color: #c7a938; }
.MTML-constant { background-color: #b7e1f4; }
.NCL-constant { background-color: #28431f; }
.Nemerle-constant { background-color: #3d3c6e; }
.NesC-constant { background-color: #94B0C7; }
.NetLinx-constant { background-color: #0aa0ff; }
.NetLinx-ERB-constant { background-color: #747faa; }
.NetLogo-constant { background-color: #ff6375; }
.NewLisp-constant { background-color: #87AED7; }
.Nimrod-constant { background-color: #37775b; }
.Nit-constant { background-color: #009917; }
.Nix-constant { background-color: #7e7eff; }
.Nu-constant { background-color: #c9df40; }
.Objective-C-constant { background-color: #438eff; }
.Objective-Cpp-constant { background-color: #6866fb; }
.Objective-J-constant { background-color: #ff0c5a; }
.OCaml-constant { background-color: #3be133; }
.Omgrofl-constant { background-color: #cabbff; }
.Ooc-constant { background-color: #b0b77e; }
.Opal-constant { background-color: #f7ede0; }
.Oxygene-constant { background-color: #cdd0e3; }
.Oz-constant { background-color: #fab738; }
.Pan-constant { background-color: #cc0000; }
.Papyrus-constant { background-color: #6600cc; }
.Parrot-constant { background-color: #f3ca0a; }
.Pascal-constant { background-color: #b0ce4e; }
.PAWN-constant { background-color: #dbb284; }
.Perl-constant { background-color: #0298c3; }
.Perl6-constant { background-color: #0000fb; }
.PHP-constant { background-color: #4F5D95; }
.PigLatin-constant { background-color: #fcd7de; }
.Pike-constant { background-color: #005390; }
.PLSQL-constant { background-color: #dad8d8; }
.PogoScript-constant { background-color: #d80074; }
.Processing-constant { background-color: #0096D8; }
.Prolog-constant { background-color: #74283c; }
.Propeller-Spin-constant { background-color: #7fa2a7; }
.Puppet-constant { background-color: #302B6D; }
.Pure Data-constant { background-color: #91de79; }
.PureBasic-constant { background-color: #5a6986; }
.PureScript-constant { background-color: #1D222D; }
.Python-constant { background-color: #3572A5; }
.QML-constant { background-color: #44a51c; }
.R-constant { background-color: #198ce7; }
.Racket-constant { background-color: #22228f; }
.Ragel-in-Ruby-Host-constant { background-color: #9d5200; }
.RAML-constant { background-color: #77d9fb; }
.Rebol-constant { background-color: #358a5b; }
.Red-constant { background-color: #ee0000; }
.Ren-Py-constant { background-color: #ff7f7f; }
.Rouge-constant { background-color: #cc0088; }
.Ruby-constant { background-color: #701516; }
.Rust-constant { background-color: #dea584; }
.SaltStack-constant { background-color: #646464; }
.SAS-constant { background-color: #B34936; }
.Scala-constant { background-color: #DC322F; }
.Scheme-constant { background-color: #1e4aec; }
.Self-constant { background-color: #0579aa; }
.Shell-constant { background-color: #89e051; }
.Shen-constant { background-color: #120F14; }
.Slash-constant { background-color: #007eff; }
.Slim-constant { background-color: #ff8f77; }
.Smalltalk-constant { background-color: #596706; }
.SourcePawn-constant { background-color: #5c7611; }
.SQF-constant { background-color: #3F3F3F; }
.Squirrel-constant { background-color: #800000; }
.Stan-constant { background-color: #b2011d; }
.Standard-ML-constant { background-color: #dc566d; }
.SuperCollider-constant { background-color: #46390b; }
.Swift-constant { background-color: #ffac45; }
.SystemVerilog-constant { background-color: #DAE1C2; }
.Tcl-constant { background-color: #e4cc98; }
.TeX-constant { background-color: #3D6117; }
.Turing-constant { background-color: #45f715; }
.TypeScript-constant { background-color: #2b7489; }
.Unified-Parallel-C-constant { background-color: #4e3617; }
.Unity3D-Asset-constant { background-color: #ab69a1; }
.UnrealScript-constant { background-color: #a54c4d; }
.Vala-constant { background-color: #fbe5cd; }
.Verilog-constant { background-color: #b2b7f8; }
.VHDL-constant { background-color: #adb2cb; }
.VimL-constant { background-color: #199f4b; }
.Visual-Basic-constant { background-color: #945db7; }
.Volt-constant { background-color: #1F1F1F; }
.Vue-constant { background-color: #2c3e50; }
.Web-Ontology-Language-constant { background-color: #9cc9dd; }
.Wisp-constant { background-color: #7582D1; }
.X10-constant { background-color: #4B6BEF; }
.XBase-constant { background-color: #403a40; }
.XC-constant { background-color: #99DA07; }
.XQuery-constant { background-color: #5232e7; }
.Zephir-constant { background-color: #118f9e; }

.ABAP:hover { background-color: #E8274B; }
.ActionScript:hover { background-color: #882B0F; }
.Ada:hover { background-color: #02f88c; }
.Agda:hover { background-color: #315665; }
.AGS-Script:hover { background-color: #B9D9FF; }
.Alloy:hover { background-color: #64C800; }
.AMPL:hover { background-color: #E6EFBB; }
.ANTLR:hover { background-color: #9DC3FF; }
.API-Blueprint:hover { background-color: #2ACCA8; }
.APL:hover { background-color: #5A8164; }
.Arc:hover { background-color: #aa2afe; }
.Arduino:hover { background-color: #bd79d1; }
.ASP:hover { background-color: #6a40fd; }
.AspectJ:hover { background-color: #a957b0; }
.Assembly:hover { background-color: #6E4C13; }
.ATS:hover { background-color: #1ac620; }
.AutoHotkey:hover { background-color: #6594b9; }
.AutoIt:hover { background-color: #1C3552; }
.BlitzMax:hover { background-color: #cd6400; }
.Boo:hover { background-color: #d4bec1; }
.Brainfuck:hover { background-color: #2F2530; }
.C-Sharp:hover { background-color: #178600; }
.C:hover { background-color: #555555; }
.Chapel:hover { background-color: #8dc63f; }
.Cirru:hover { background-color: #ccccff; }
.Clarion:hover { background-color: #db901e; }
.Clean:hover { background-color: #3F85AF; }
.Click:hover { background-color: #E4E6F3; }
.Clojure:hover { background-color: #db5855; }
.CoffeeScript:hover { background-color: #244776; }
.ColdFusion-CFC:hover { background-color: #ed2cd6; }
.ColdFusion:hover { background-color: #ed2cd6; }
.Common-Lisp:hover { background-color: #3fb68b; }
.Component-Pascal:hover { background-color: #b0ce4e; }
.Cpp:hover { background-color: #f34b7d; }
.Crystal:hover { background-color: #776791; }
.CSS:hover { background-color: #563d7c; }
.D:hover { background-color: #ba595e; }
.Dart:hover { background-color: #00B4AB; }
.Diff:hover { background-color: #88dddd; }
.DM:hover { background-color: #447265; }
.Dogescript:hover { background-color: #cca760; }
.Dylan:hover { background-color: #6c616e; }
.E:hover { background-color: #ccce35; }
.Eagle:hover { background-color: #814C05; }
.EC:hover { background-color: #913960; }
.ECL:hover { background-color: #8a1267; }
.Edn:hover { background-color: #db5855; }
.Eiffel:hover { background-color: #946d57; }
.Elixir:hover { background-color: #6e4a7e; }
.Elm:hover { background-color: #60B5CC; }
.Emacs-Lisp:hover { background-color: #c065db; }
.EmberScript:hover { background-color: #FFF4F3; }
.Erlang:hover { background-color: #B83998; }
.F-Sharp:hover { background-color: #b845fc; }
.Factor:hover { background-color: #636746; }
.Fancy:hover { background-color: #7b9db4; }
.Fantom:hover { background-color: #dbded5; }
.FLUX:hover { background-color: #88ccff; }
.Forth:hover { background-color: #341708; }
.FORTRAN:hover { background-color: #4d41b1; }
.FreeMarker:hover { background-color: #0050b2; }
.Frege:hover { background-color: #00cafe; }
.Game-Maker-Language:hover { background-color: #8fb200; }
.Glyph:hover { background-color: #e4cc98; }
.Gnuplot:hover { background-color: #f0a9f0; }
.Go:hover { background-color: #375eab; }
.Golo:hover { background-color: #88562A; }
.Gosu:hover { background-color: #82937f; }
.Grammatical-Framework:hover { background-color: #79aa7a; }
.Groovy:hover { background-color: #e69f56; }
.Handlebars:hover { background-color: #01a9d6; }
.Harbour:hover { background-color: #0e60e3; }
.Haskell:hover { background-color: #29b544; }
.Haxe:hover { background-color: #df7900; }
.HTML:hover { background-color: #e44b23; }
.Hy:hover { background-color: #7790B2; }
.IDL:hover { background-color: #a3522f; }
.Io:hover { background-color: #a9188d; }
.Ioke:hover { background-color: #078193; }
.Isabelle:hover { background-color: #FEFE00; }
.J:hover { background-color: #9EEDFF; }
.Java:hover { background-color: #b07219; }
.JavaScript:hover { background-color: #f1e05a; }
.JFlex:hover { background-color: #DBCA00; }
.JSONiq:hover { background-color: #40d47e; }
.Julia:hover { background-color: #a270ba; }
.Jupyter-Notebook:hover { background-color: #DA5B0B; }
.Kotlin:hover { background-color: #F18E33; }
.KRL:hover { background-color: #28431f; }
.Lasso:hover { background-color: #999999; }
.Latte:hover { background-color: #A8FF97; }
.Lex:hover { background-color: #DBCA00; }
.LFE:hover { background-color: #004200; }
.LiveScript:hover { background-color: #499886; }
.LOLCODE:hover { background-color: #cc9900; }
.LookML:hover { background-color: #652B81; }
.LSL:hover { background-color: #3d9970; }
.Lua:hover { background-color: #000080; }
.Makefile:hover { background-color: #427819; }
.Mask:hover { background-color: #f97732; }
.Matlab:hover { background-color: #bb92ac; }
.Max:hover { background-color: #c4a79c; }
.MAXScript:hover { background-color: #00a6a6; }
.Mercury:hover { background-color: #ff2b2b; }
.Metal:hover { background-color: #8f14e9; }
.Mirah:hover { background-color: #c7a938; }
.MTML:hover { background-color: #b7e1f4; }
.NCL:hover { background-color: #28431f; }
.Nemerle:hover { background-color: #3d3c6e; }
.NesC:hover { background-color: #94B0C7; }
.NetLinx:hover { background-color: #0aa0ff; }
.NetLinx-ERB:hover { background-color: #747faa; }
.NetLogo:hover { background-color: #ff6375; }
.NewLisp:hover { background-color: #87AED7; }
.Nimrod:hover { background-color: #37775b; }
.Nit:hover { background-color: #009917; }
.Nix:hover { background-color: #7e7eff; }
.Nu:hover { background-color: #c9df40; }
.Objective-C:hover { background-color: #438eff; }
.Objective-Cpp:hover { background-color: #6866fb; }
.Objective-J:hover { background-color: #ff0c5a; }
.OCaml:hover { background-color: #3be133; }
.Omgrofl:hover { background-color: #cabbff; }
.Ooc:hover { background-color: #b0b77e; }
.Opal:hover { background-color: #f7ede0; }
.Oxygene:hover { background-color: #cdd0e3; }
.Oz:hover { background-color: #fab738; }
.Pan:hover { background-color: #cc0000; }
.Papyrus:hover { background-color: #6600cc; }
.Parrot:hover { background-color: #f3ca0a; }
.Pascal:hover { background-color: #b0ce4e; }
.PAWN:hover { background-color: #dbb284; }
.Perl:hover { background-color: #0298c3; }
.Perl6:hover { background-color: #0000fb; }
.PHP:hover { background-color: #4F5D95; }
.PigLatin:hover { background-color: #fcd7de; }
.Pike:hover { background-color: #005390; }
.PLSQL:hover { background-color: #dad8d8; }
.PogoScript:hover { background-color: #d80074; }
.Processing:hover { background-color: #0096D8; }
.Prolog:hover { background-color: #74283c; }
.Propeller-Spin:hover { background-color: #7fa2a7; }
.Puppet:hover { background-color: #302B6D; }
.Pure Data:hover { background-color: #91de79; }
.PureBasic:hover { background-color: #5a6986; }
.PureScript:hover { background-color: #1D222D; }
.Python:hover { background-color: #3572A5; }
.QML:hover { background-color: #44a51c; }
.R:hover { background-color: #198ce7; }
.Racket:hover { background-color: #22228f; }
.Ragel-in-Ruby-Host:hover { background-color: #9d5200; }
.RAML:hover { background-color: #77d9fb; }
.Rebol:hover { background-color: #358a5b; }
.Red:hover { background-color: #ee0000; }
.Ren-Py:hover { background-color: #ff7f7f; }
.Rouge:hover { background-color: #cc0088; }
.Ruby:hover { background-color: #701516; }
.Rust:hover { background-color: #dea584; }
.SaltStack:hover { background-color: #646464; }
.SAS:hover { background-color: #B34936; }
.Scala:hover { background-color: #DC322F; }
.Scheme:hover { background-color: #1e4aec; }
.Self:hover { background-color: #0579aa; }
.Shell:hover { background-color: #89e051; }
.Shen:hover { background-color: #120F14; }
.Slash:hover { background-color: #007eff; }
.Slim:hover { background-color: #ff8f77; }
.Smalltalk:hover { background-color: #596706; }
.SourcePawn:hover { background-color: #5c7611; }
.SQF:hover { background-color: #3F3F3F; }
.Squirrel:hover { background-color: #800000; }
.Stan:hover { background-color: #b2011d; }
.Standard-ML:hover { background-color: #dc566d; }
.SuperCollider:hover { background-color: #46390b; }
.Swift:hover { background-color: #ffac45; }
.SystemVerilog:hover { background-color: #DAE1C2; }
.Tcl:hover { background-color: #e4cc98; }
.TeX:hover { background-color: #3D6117; }
.Turing:hover { background-color: #45f715; }
.TypeScript:hover { background-color: #2b7489; }
.Unified-Parallel-C:hover { background-color: #4e3617; }
.Unity3D-Asset:hover { background-color: #ab69a1; }
.UnrealScript:hover { background-color: #a54c4d; }
.Vala:hover { background-color: #fbe5cd; }
.Verilog:hover { background-color: #b2b7f8; }
.VHDL:hover { background-color: #adb2cb; }
.VimL:hover { background-color: #199f4b; }
.Visual-Basic:hover { background-color: #945db7; }
.Volt:hover { background-color: #1F1F1F; }
.Vue:hover { background-color: #2c3e50; }
.Web-Ontology-Language:hover { background-color: #9cc9dd; }
.Wisp:hover { background-color: #7582D1; }
.X10:hover { background-color: #4B6BEF; }
.XBase:hover { background-color: #403a40; }
.XC:hover { background-color: #99DA07; }
.XQuery:hover { background-color: #5232e7; }
.Zephir:hover { background-color: #118f9e; }